<h1> Materials database </h1>
{% if message %}
  <p><b> {{ message }} </b></p>
{% endif %}
<p><b> Search data </b></p>
<form action="{% url 'index' %}" method="post">
    {% csrf_token %}
    {{ search_form.as_p }}
    <button type="submit" name="entry_type" value="search" > Submit </button>
</form>
<br><br>
<p><b> Add data </b></p>
<form action="{% url 'index' %}" method="post">
    {% csrf_token %}
    {{ add_form.as_p }}
    <button type="submit" name="entry_type" value="add" > Submit </button>
    <!-- <input type="submit" value="Submit" onclick="SubmitForm();"/> -->
</form>
<br><br>
<p><b>Upload data from CSV file:</b></p>
<form action="{% url 'index' %}" method="post" enctype="multipart/form-data">
    {% csrf_token %}
    {{ file_form.as_p }}
    <button type="submit" name="entry_type" value="upload" > Upload </button>
</form>
</p>
<!-- </p>
Populate the database from data.csv file:<br>
<form action="/upload/" method="post">
    {% csrf_token %}
    <input type="submit" value="Upload data.csv file" />
</form>
</p> -->
